/* Custom Styling */
body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  background-color: #eeeeee;
  padding: 0 10px;
  font-family: serif;
}
h1,
h2,
h3 {
  line-height: 1.2;
}
a {
  color: #444;
  text-decoration: none;
}
article a:not([href*=":"])::before {
  content: "{";
}
article a:not([href*=":"])::after {
  content: "}";
}
article a[href*=":"]::before {
  content: "[";
}
article a[href*=":"]::after {
  content: "]";
}
